*.lock
*~
*.swp
.DS_Store
.sass-cache/
/bin/
Gemfile.lock
_site/
assets/.DS_Store
.bundle/
vendor/
_cache/
.ruby-version
.jekyll-metadata
_data/indico/
_data/topical/
node_modules/
package.json
.ipynb_checkpoints/
.jekyll-cache/
