ci:
  autoupdate_commit_msg: "chore(deps): update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
  autoupdate_schedule: monthly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
      - id: check-dependabot
      - id: check-jsonschema
        name: Check people files
        args: [--schemafile, _scripts/people.schema.json]
        files: '^_data/people/.*\.yml$'
        exclude: "_data/people/m-carothers.yml"
      - id: check-jsonschema
        name: Check publication files
        args: [--schemafile, _scripts/publication.schema.json]
        files: '^_data/publications/.*\.yml$'

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        types_or: [yaml, css, scss, javascript, json]

  - repo: local
    hooks:
      - id: data-filenames
        files: ^_data/.*(?<!\.yml)$
        name: Force _data files to be .yml
        entry: files in _data must end in .yml
        language: fail

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: (^Gemfile.lock|\.js|\.map)$
        args:
          [
            "-L",
            "hist,sur,nd,pres,ist,ect,wan,wit,marge,admi,tunnell,parth,bu,ser,slac,gage,discus,ablet,manuel,classe,insead",
          ]

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|PyTest|UpRoot|UpROOT
        exclude: .pre-commit-config.yaml
