{%- comment -%}
Pass in start and end, and this will print out a date range
{%- endcomment -%}

{%- assign startyear = include.start | date: "%Y" -%}
{%- assign startmonth = include.start | date: "%-d" -%}
{%- assign startday = include.start | date: "%b" -%}

{%- assign endyear = include.end | date: "%Y" -%}
{%- assign endmonth = include.end | date: "%-d" -%}
{%- assign endday = include.end | date: "%b" -%}

{%- if startyear != endyear -%}
{{ startmonth }}&nbsp;{{startday}}, {{startyear}}&ndash;{{ endmonth }}&nbsp;{{endday}}, {{endyear}}
{%- elsif startmonth != endmonth -%}
{{ startmonth }}&nbsp;{{startday}}&ndash;{{ endmonth }}&nbsp;{{endday}}, {{endyear}}
{%- elsif startday != endday -%}
{{ startmonth }}&nbsp;{{startday}}&ndash;{{endday}}, {{endyear}}
{%- else -%}
{{ startmonth }}&nbsp;{{startday}}, {{startyear}}
{%- endif-%}

