{%- comment -%}
Pass in start and end, and this will print out a date range
{%- endcomment -%}

{%- assign start = include.start -%}
{%- if include.end -%}
{%-   assign end = include.end -%}
{%- else -%}
{%-   assign end = include.start -%}
{%- endif -%}

{%- assign startyear = start | date: "%Y" -%}
{%- assign startmonth = start | date: "%b" -%}
{%- assign startday = start | date: "%-d" -%}

{%- assign endyear = end | date: "%Y" -%}
{%- assign endmonth = end | date: "%b" -%}
{%- assign endday = end | date: "%-d" -%}

{%- if startyear != endyear -%}
{{ startmonth }}&nbsp;{{ startday }}, {{ startyear }}&ndash;{{ endmonth }}&nbsp;{{ endday }}, {{ endyear }}
{%- elsif startmonth != endmonth -%}
{{ startmonth }}&nbsp;{{ startday }}&ndash;{{ endmonth }}&nbsp;{{ endday }}, {{ endyear }}
{%- elsif startday != endday -%}
{{ startmonth }}&nbsp;{{ startday }}&ndash;{{ endday }}, {{ endyear }}
{%- else -%}
{{ startmonth }}&nbsp;{{ startday }}, {{ startyear }}
{%- endif -%}

