{%- if include.url -%}
{%- assign url = include.url -%}
{%- else -%}
{%- assign url = include.file -%}
{%- endif -%}

{%- if include.caption -%}
<figure class="{{include.class | default: "right"}} caption iris-figure" style="{{include.figure-style}}">
{%- else -%}
<figure class="{{include.class | default: "right"}} iris-figure" style="{{include.figure-style}}">
{%- endif -%}
<a href="{{url}}">
  <img alt="{{include.alt}}" src="{{include.file}}" style="{{include.img-style}}">
</a>
{%- if include.caption -%}
<figcaption>{{ include.caption | markdownify }}</figcaption>
{%- endif -%}
</figure>
