<footer>
  <div class="footer-dark">
    <div class="container">
      <div class="d-flex flex-row">
        <div class="footer-vertical-center">
          <div class="footer-logos">
            <div class="footer-logo">
              <img src="/assets/logos/Iris-hep-5-just-graphic.png" alt="IRIS-HEP logo">
            </div>
            <div class="footer-logo">
              <img src="/assets/images/nsf-logo-128.png" alt="NSF logo">
            </div>
          </div>
        </div>

        <div class="footer-text p-2 ml-auto flex-grow-1 footer-vertical-center">
          This project is supported by the National Science Foundation under Cooperative Agreement OAC-1836650.
          Any opinions, findings, conclusions or recommendations expressed in this material are those of the
          authors and do not necessarily reflect the views of the National Science Foundation.
        </div>
        <div class="footer-vertical-center">
          <div class="footer-buttons">
            <button type="button" class="btn btn-outline-secondary btn-sm">
              <a href="https://twitter.com/iris_hep"><i class="fab fa-twitter"></i></a>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm">
              <a href="https://www.youtube.com/channel/UC8Dmx4MYjp6RQ9ngc58Ujmg?view_as=subscriber"> <i class="fab fa-youtube"></i></a>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm">
              <a href="https://github.com/iris-hep/"> <span class="fab fa-github"></span></a>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm">
              <a href="https://groups.google.com/a/iris-hep.org/forum/#!forum/announcements"> <span class="fab fa-google"></span></a>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
