<footer>
<hr/>

<div class="d-flex flex-row">
<div class="p-2 ml-auto">
    <a href="https://indico.cern.ch/category/10570/">Topical meetings</a> <a href="https://www.youtube.com/channel/UC8Dmx4MYjp6RQ9ngc58Ujmg/videos">(recordings)</a>
    &bull;
    <a href="https://vidyoportal.cern.ch/join/oT21qIc1id">Vidyo room</a>
</div>
<div class="p-2 flex-grow-1"></div>
<div class="p-2 ml-auto">
<button type="button" class="btn btn-outline-secondary btn-sm">
<a href="https://twitter.com/iris_hep"><i class="fa fa-twitter"></i></a>
</button>
<button type="button" class="btn btn-outline-secondary btn-sm">
<a href="https://www.youtube.com/channel/UC8Dmx4MYjp6RQ9ngc58Ujmg?view_as=subscriber"> <i class="fa fa-youtube"></i></a>
</button>
<button type="button" class="btn btn-outline-secondary btn-sm">
<a href="https://github.com/iris-hep/"> <span class="fa fa-github"></span></a>
</button>
<button type="button" class="btn btn-outline-secondary btn-sm">
<a href="https://groups.google.com/a/iris-hep.org/forum/#!forum/announcements"> <span class="fa fa-google"></span></a>
</button>
</div>
</div>

<div class="d-flex flex-row">
<div class="p-2"><img src="/assets/images/nsf1.jpg" alt="NSF logo" width=50></div>

<div class="p-2 flex-grow-1 ml-auto">This project is supported by National Science Foundation under Cooperative Agreement OAC-1836650. Any opinions, findings, conclusions or recommendations expressed in this material are those of the authors and do not necessarily reflect the views of the National Science Foundation.</div>


</div>
</footer>

{% include text-expand.html %}
