    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="/assets/images/blue-dot-md.png">&nbsp;&nbsp;Institute for Research and Innovation in Software</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/about/introduction">About</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/news">News</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/contact">Contact</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/docs">Docs</a>
              </li>
            </ul>
          </div>
        </div> <!-- End Container -->
      </nav>
    </header>

