      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="/">&nbsp;&nbsp;Institute for Research and Innovation in Software</a>
        <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/docs" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/about/overview">Overview</a>
                <a class="dropdown-item" href="/about/team">Team</a>
  </div>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/docs" role="button" aria-haspopup="true" aria-expanded="false">Connect</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="https://indico.cern.ch/category/10492/">Meeting Agenda (Indico)</a>
                <a class="dropdown-item" href="https://vidyoportal.cern.ch/join/8ssmWH8zau">Vidyo Room</a>
                <a class="dropdown-item" href="/contact.html">Contact</a>
  </div>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/news">News</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/jobs">Jobs</a>
              </li>
            </ul>
          </div>
        </div> <!-- End Container -->
      </nav>
<header class="masthead" style="background-image: url('assets/images/edproducer-code-3.png')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
<div class="blurb">
    <h3><b>Hello World! The Institute for Research and Innovation in Software in High Energy Physics (IRIS-HEP) project has been funded as of 1 September, 2018. The website is under construction. Please check back soon.</b></h3>
</div><!-- /.blurb -->
        </div>
      </div>
    </div>
  </div>
 </header>

