      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarCollapse">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">&nbsp;&nbsp;IRIS-HEP</a>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/docs" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/about/overview">Overview</a>
                <a class="dropdown-item" href="/about/team">Team</a>
  </div>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/docs" role="button" aria-haspopup="true" aria-expanded="false">Connect</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="https://indico.cern.ch/category/10492/">Meeting Agenda (Indico)</a>
                <a class="dropdown-item" href="https://vidyoportal.cern.ch/join/8ssmWH8zau">Vidyo Room</a>
                <a class="dropdown-item" href="/contact.html">Contact</a>
  </div>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/news">News</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/jobs">Jobs</a>
              </li>
            </ul>
          </div>
        </div> <!-- End Container -->
      </nav>
