
<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="/assets/images/0511013_01-A5-at-72-dpi.jpg" alt="Expanding universe">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Our Expanding Universe</h1>
                <p>What's causing the universe to expand? The Dark Energy Survey is looking for answers. (Photo credit: DES)</p>
                <p><a class="btn btn-lg btn-primary" href="/news/2018/03/01/des-expanding-universe.html" role="button">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="/assets/images/610026_01-A5-at-72-dpi.jpg" alt="OSG helps study traumatic brain injuries.">
            <div class="container">
              <div class="carousel-caption">
                <h1>Studying Traumatic Brain Injuries on the OSG.</h1>
                <p>ScienceNode did an article about Don Krieger and University of Pittsburgh using OSG to study traumatic brain injury! (Photo Courtesy Unsplash/John Torcasio)</p>
                <p><a class="btn btn-lg btn-primary" href="https://sciencenode.org/feature/imaging-the-injured-brain.php" role="button">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="/assets/images/0910152_02-A5-at-72-dpi.jpg" alt="OSG Summer School 2017 Attendees.">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>OSG User School 2017.</h1>
                <p>This past summer, OSG hosted our annual user school at University of Wisconsin to help researchers learn how to use OSG to further their work!</p>
                <p><a class="btn btn-lg btn-primary" href="/news/2017/11/29/osg-summer-school.html" role="button">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="fourth-slide" src="/assets/images/1008289_02-A5-at-72-dpi.jpg" alt="Artist rendition of a neutron star merger.">
            <div class="container">
              <div class="carousel-caption">
                <h1>OSG Supports Multi-Messenger Astronomy.</h1>
                <p>OSG integrates global computing to support detection of colliding neutron stars by LIGO, VIRGO, and DECam.</p>
                <p><a class="btn btn-lg btn-primary" href="/news/2017/11/07/ligo-virgo.html" role="button">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="fifth-slide" src="/assets/images/1008291_03-A5-at-72-dpi.jpg" alt="A binary black hole merger">
            <div class="container">
              <div class="carousel-caption">
                <h1>LIGO wins Nobel Prize.</h1>
                <p>LIGO Collaborators win 2017 Nobel Prize in Physics.</p>
                <p><a class="btn btn-lg btn-primary" href="/news/2017/10/05/ligo-wins-nobel-prize.html" role="button">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="sixth-slide" src="/assets/images/groom-title.jpg" alt="TRAPPIST-1 System">
            <div class="container">
              <div class="carousel-caption">
                <h1>Astronomy archives are creating new science every day</h1>
                <p>Accumulated data sets from past and current astronomy research are not dead. Researchers are still doing new science with old data and still making new discoveries.</p>
                <p><a class="btn btn-lg btn-primary" href="/news/2017/08/29/astronomy-archives.html" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="seventh-slide" src="/assets/images/isayev.jpg" alt="Olexandr Isayev profile">
            <div class="container">
              <div class="carousel-caption">
                <h1>Machine Learning for Molecular Science.</h1>
                <p>Olexandr Isayev gives machine learning insights into molecular science using the Open Science Grid.</p>
                <p><a class="btn btn-lg btn-primary" href="/news/2017/06/29/machine-learning.html" role="button">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="eigth-slide" src="/assets/images/NepomukOtte-929x1024-e1496435043367.jpg" alt="Nepomuk Otte profile">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>VERITAS and Open Science Grid explore extreme window into the universe</h1>
                <p><a class="btn btn-lg btn-primary" href="/news/2017/06/02/veritas.html" role="button">Read more</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</div>

