
{%- if include.inline -%}
{%- assign li = "" -%}
{%- assign eli = "" -%}
{%- else -%}
{%- assign li = "<li>" -%}
{%- assign eli = "</li>" -%}
<h3>Team</h3>
<ul>
{%- endif -%}

{% for contact in include.team %}
  {%- assign person = site.data.people | find: "shortname", contact -%}
  {%- unless person -%}
    {%- assign fellow = site.pages | where: 'pagetype', 'fellow' | find: "github-username", contact -%}
  {%- endunless -%}

  {% if person %}
    {%- if include.inline and person.e-mail -%}
      {{ li }} <a href="mailto:{{person.e-mail}}">{{person.name}}</a> {{ eli }}
    {%- elsif person.website -%}
      {{ li }} <a href="{{person.website}}">{{ person.name }}</a> {{ eli }}
    {% else %}
      {{ li }} {{person.name}} {{ eli }}
    {% endif %}
  {% elsif fellow %}
  {{ li }} <a href="{{ fellow.url | relative_url }}"> {{ fellow.fellow-name }}</a> (fellow){{ eli }}
  {% elsif contact contains "](" %}
    {{ li }} {{ contact | markdownify | remove: '<p>' | remove: '</p>' }} {{ eli }}
  {% elsif contact contains "@" %}
    {{ li }} <a href="mailto:{{contact}}"> <em>{{contact}}</em> </a> {{ eli }}
  {% else %}
    {{ li }} {{ contact | markdownify | remove: '<p>' | remove: '</p>' }} {{ eli }}
  {% endif %}
{% endfor %}

{%- unless include.inline  %}
</ul>
{% endunless -%}
