
{%- if include.inline -%}
{%- assign li = "" -%}
{%- assign eli = "" -%}
{%- else -%}
{%- assign li = "<li>" -%}
{%- assign eli = "</li>" -%}
<h3>Team</h3>
<ul>
{%- endif -%}

{% for contact in include.team %}
  {% assign person = site.data.people | find: "shortname", contact %}

  {% if person %}
    {%- if inline and person.e-mail -%}
      {{ li }} <a href="mailto:{{person.e-mail}}">{{person.name}}</a> {{ eli }}
    {%- elsif person.website -%}
      {{ li }} <a href="{{person.website}}">{{ person.name }}</a> {{ eli }}
    {% else %}
      {{ li }} {{person.name}} {{ eli }}
    {% endif %}
  {% elsif contact contains "@" %}
    <a href="mailto:{{contact}}"> <em>{{contact}}</em> </a>
  {{ else }}
    {{ li }} {{ contact | markdownify | remove: '<p>' | remove: '</p>' }} {{ eli }}
  {% endif %}
{% endfor %}

{%- unless include.inline  %}
</ul>
{% endunless -%}
