<h3>Team</h3>
<ul>
{%- for member in include.team -%}
  {%- assign found=false -%}
  {%- for person_hash in site.data.people -%}
    {%- assign person = person_hash[1] -%}
    {%- if person.shortname == member -%}
      {%- assign found=true -%}
      {%- if person.website -%}
        <li> <a href="{{person.website}}">{{ person.name }}</a> </li>
      {%- else -%}
        <li> {{ person.name }} </li>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {%- unless found -%}
    <li> {{ member }} </li>
  {%- endunless -%}
{%- endfor -%}
</ul>
