<header class="masthead" style="background-image: url('{{page.bgimage}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
<div class="blurb">
    <h2><b>Institute for Research and Innovation in Software in High Energy Physics (IRIS-HEP)</b></h2>
    <h5><b>Hello World! IRIS-HEP has been funded as of 1 September, 2018. The website is under construction. Please check back soon.</b></h5>
</div><!-- /.blurb -->
        </div>
      </div>
    </div>
  </div>
 </header>

