<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><span><img src="/assets/logos/Iris-hep-4-no-long-name.png" alt="IRIS-HEP logo" height="58.5px" width="109px"></span></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/about/overview">Overview</a>
                        <a class="dropdown-item" href="/about/executive-board">Executive Board</a>
                        <a class="dropdown-item" href="/about/team">Full Team</a>
                        <a class="dropdown-item" href="/about/steering-board">Steering Board</a>
                        <a class="dropdown-item" href="/about/advisory-panel">Advisory Panel</a>
                        <a class="dropdown-item" href="/about/dei">Diversity, Equity, and Inclusion</a>
                        <a class="dropdown-item" href="/about/code-of-conduct">Code of Conduct</a>
                        <a class="dropdown-item" href="/docs">Docs</a>
                        <a class="dropdown-item" href="/sitemap">Sitemap</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connect</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/news.html">News</a>
                        <a class="dropdown-item" href="https://indico.cern.ch/category/10492/">Meeting Agendas (Indico)</a>
                        <a class="dropdown-item" href="/events.html">Events</a>
                        <a class="dropdown-item" href="/topical.html">Topical meetings</a>
                        <a class="dropdown-item" href="https://www.youtube.com/channel/UC8Dmx4MYjp6RQ9ngc58Ujmg?view_as=subscriber">YouTube</a>
                        <a class="dropdown-item" href="/contact.html">Contact</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        {% assign activities = site.pages | where: "layout", "focus-area" | sort_natural: 'title' %}
                        {% for mypage in activities %}
                        <a class="dropdown-item" href="{{mypage.permalink}}">{{mypage.title}}</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/grand-challenges.html">Grand Challenges</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/impact-beyond-hep.html">Impact Beyond HEP</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/presentations/bymonth">Presentations</a>
                        <a class="dropdown-item" href="/publications/all">Publications</a>
                        <a class="dropdown-item" href="/projects">Projects</a>
                    </div>
                </li>
                <!--  Nav to news items disabled until there are news items; BB 2019-04-23
                    <li class="nav-item active">
                    <a class="nav-link" href="/news">News</a>
                    </li>
                -->
                <li class="nav-item active">
                   <a class="nav-link" href="/fellows.html">Fellows</a>
                </li>
                <li class="nav-item active">
                   <a class="nav-link" href="/jobs">Jobs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
