{%- unless include.talk -%}
    {% raise_error "Empty publication! Please check." %}
{%- endunless %}

{%- assign talk = include.talk -%}
{%- assign talk-member = site.data.people[talk.member].name -%}
{%- assign prettydate = talk.date | date: "%-d %b %Y" -%}

{%- capture meeting -%}
  {%- if talk.meetingurl and talk.meetingurl != "" -%}
    <a href="{{ talk.meetingurl }}">{{ talk.meeting }}</a>
  {%- else -%}
    {{ talk.meeting }}
  {%- endif -%}
{%- endcapture -%}
{%- capture title -%}
  {%- if talk.url and talk.url != "" -%}
    <a href="{{ talk.url }}">"{{ talk.title }}"</a>
  {%- else -%}
    "{{ talk.title }}"
  {%- endif -%}
  {%- if talk.video -%}
  {{ " " }}<a href="{{ talk.video }}" aria-label="Video">
      <i aria-hidden="true" class="fas fa-video" title="Video"></i>
    </a>
  {%- endif -%}
{%- endcapture -%}

{{ prettydate }} - {{ title }}, {{ talk-member }}, {{ meeting }}

