{%- unless include.pub -%}
    {% raise_error "Empty publication! Please check." %}
{%- endunless %}

    {%- if include.pub.citation-count and include.pub.citation-count > 0 -%}
      {%- assign cited = " [" | append: include.pub.citation-count | append: " citation" -%}
      {%- if include.pub.citation-count > 1 -%}
        {%- assign cited = cited | append: "s]" -%}
      {%- else -%}
        {%- assign cited = cited | append: "]" -%}
      {%- endif -%}
      {%- if include.pub.inspire-id -%}
        {%- capture cited %} <a href='http://inspirehep.net/record/{{include.pub.inspire-id}}/citations'>{{cited}}</a>{% endcapture -%}
      {%- endif -%}
    {%- else -%}
      {%- assign cited = "" -%}
    {%- endif -%}

    {%- if include.pub.nsf-par-id -%}
      {%- capture parid %} <a href='https://par.nsf.gov/biblio/{{include.pub.nsf-par-id}}'>[NSF PAR]</a>{% endcapture -%}
    {%- else -%}
      {%- assign parid = "" -%}
    {%- endif -%}

    <a href="{{ include.pub.link }}">{{ include.pub.title }}</a>, {{ include.pub.citation }} ({{ include.pub.date | date_to_string }}){{ cited }}{{ parid }}.
