---
---

body {
  padding-top: 6rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  height: 32rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* OSG-style links */

a{color:#b67b3c;text-decoration:none;}
a:hover,a:focus{color:#7c5429;text-decoration:underline;}

