---
---

@import "functions";
@import "variables";
@import "mixins";

/* DIANA dark blue: 2C3E50; DIANA light blue: 3B97D3 */
/* Original padding-top was 6rem */
body {
  padding-top: 5rem;
  padding-bottom: 0rem;
  color: #2C3E50;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #ffffff;
}
.carousel-item > img {
  height: 32rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* a:hover,a:focus{color:#2C3E50;text-decoration:underline;} */

.boxed {
  background-color: rgb(242, 244, 244) ;
  border: 2px solid black ;
  padding: 5px;
  height: 200px;
  overflow: scroll;
}
.boxedInf {
  background-color: rgb(242, 244, 244) ;
  border: 2px solid black ;
  padding: 5px;
}

/* Custom footer */

.footer-dark {
  @include gradient-x($navbar-dark-active-color, $primary, 0%, 100%);
  border-top-color: $iris-100;

  border-top-style: solid;
  border-top-width: 3px;
  padding-top: 0.5rem;
  padding-left: 1.0rem;
  padding-right: 0.5rem;
  padding-bottom: 1.5rem;

  a {
    color: $navbar-dark-active-color;

    @include hover-focus {
      color: $navbar-dark-hover-color;
    }
  }

  .footer-text {
    color: $navbar-dark-active-color;
    text-shadow: 0px 0px 10px $primary;
  }

  .footer-logos {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }

    .footer-logo {
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      justify-content: center;
    }
  }

  .footer-vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .footer-buttons {
    width:33px;
    @media only screen and (min-width: 991px) {
      width:66px;
    }
  }

}

// Heading

.mainpage-all {
  display: flex;
  flex-flow: column;
  @media only screen and (min-width: 768px) {
    flex-flow: row wrap;
  }
}

.mainpage-all > * {
  flex: 1 100%;
}

@media only screen and (min-width: 768px) {
  .mainpage-main {
    flex: 2 0px;
    margin-right: 10px;
  }
}

.mainpage-sidebar {
  padding: 0px;
  @media only screen and (min-width: 768px) {
    flex: 1 0px;

    padding: 0 8px 0 8px;

    .mainpage-sidebar-text, .mainpage-sidebar-links {
      margin: 10px;
    }
  }

  .mainpage-sidebar-links {
    text-align: right;
  }

  .mainpage-core h4 {
    color: $iris-400;
    font-size: 1.3rem;
    margin-bottom: .2rem;
  }

  > * > ul {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0px;
    list-style: none;

    .event {
      display: flex;
      flex-flow: row wrap;
      margin: 5px 0 10px 0;
      // background-color: scale-color($iris-accent-400, $lightness:60%);
      background-color: scale-color($iris-100, $lightness:60%);
      border-radius: 6px;
      box-shadow: black 2px 2px 4px;

      .date, .location {
        color: white;
      }

      .date {
        background-color: $iris-400;
        border-radius: 6px 0px 0px 0px;
        flex: 0 2 35%;
        font-size: 0.8rem;
        padding: 0 5px 0 10px;
      }

      .location {
        background-color: $iris-400;
        border-radius: 0px 6px 0px 0px;
        flex: 0 3 65%;
        text-align: right;
        font-style: italic;
        font-size: 0.8rem;
        padding: 0 10px 0 5px;
      }

      .name {
        flex: 0 1 100%;
        font-size: 1.1rem;
        padding: 0 10px 0 10px;
        color: black;
      }
    }
  }
}

.mainpage-core {
  margin: 10px 0 30px 0;
}

