---
---
/* DIANA dark blue: 2C3E50; DIANA light blue: 3B97D3 */
/* Original padding-top was 6rem */
body {
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: #2C3E50;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #ffffff;
}
.carousel-item > img {
  height: 32rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* a:hover,a:focus{color:#2C3E50;text-decoration:underline;} */

.boxed {
    background-color: rgb(242, 244, 244) ;
    border: 2px solid black ;
    padding: 5px;
    height: 200px;
    overflow: scroll;
}
.boxedInf {
    background-color: rgb(242, 244, 244) ;
    border: 2px solid black ;
    padding: 5px;
}

