---
permalink: /about/steering-board.html
layout: default
title: Steering Board
---

<div class="container-fluid">
  <h1>Steering Board</h1><br>
  
  <p><b>The IRIS-HEP Steering Board represents the Institute’s stakeholders to provide, 
		to the Executive Board, the stakeholder’s input on the priorities, execution, 
		and strategy of the Institute.</b></p>
  <div class="row">
  {% for member in site.data.orgs.steering-board.personnel  %}
     {% for person_hash in site.data.people %}
       {% assign person = person_hash[1] %}
       {% if person.shortname == member %}
       <div class="card" style="width: 12rem;">
         <img class="card-img-top" src="{{person.photo}}" alt="Card image cap">
         <div class="card-body d-flex flex-column">
         <div class="card-text">
         <b><a href="{{person.website}}">{{person.name}}</a></b><br>
         <small>{{person.institution}}</small><br><br>
		 <!-- <small>
			<a href="mailto:{{person.e-mail}}">
				<em>{{person.e-mail}}</em>
			</a>
		 </small><br><br>  -->
         </div>
		 {% if person.title %}
         <div class="card-text mt-auto"><i>{{person.title}}</i><br></div>
		 {% elsif person.project %}
		 <div class="card-text mt-auto"><i>{{person.project}}</i><br></div>  
         {% endif %}
		 </div>
       </div>
       {% endif %}
       {% endfor %}
  {% endfor %}
  </div>
  <br>
</div>
