---
permalink: /index.html
layout: main
title: Institute for Research and Innovation in Software
bgimage: assets/images/Tprime-200pu-PhaseII-black-arctic-main-image.jpg
---

<div class="mainpage-all">
<div class="mainpage-main mainpage-container">
<div class="mainpage-intro mainpage-core">

<h4>Computational and data science research to enable discoveries in fundamental physics</h4>

{% capture irishead %}
IRIS-HEP is a software institute funded by the National Science Foundation. It aims to develop the state-of-the-art software cyberinfrastructure required for the challenges of data intensive scientific research at the High Luminosity Large Hadron Collider (HL-LHC) at CERN, and other planned HEP experiments of the 2020's. These facilities are discovery machines which aim to understand the fundamental building blocks of nature and their interactions. [Full Overview](/about/overview.html)
{% endcapture %}
{{ irishead | markdownify }}

</div>


<div class="mainpage-news mainpage-core">
<h4>News and Featured Stories:</h4>

<div class="container-fluid">
  <div class="news row">
    {% for post in site.posts limit:4 %}
       <div class="card news">
          <a href="{{post.url}}">
            <img class="card-img-top" src="{{post.postimage}}" {% if post.postimage-whole -%} style="object-fit:scale-down;" {% endif -%} alt="Card image cap">
          </a>
          <div class="card-body d-flex flex-column">
            <div class="card-text card-title">
               <a href="{{post.url}}">{{post.title}}</a>
            </div>
            <div class="card-text card-body">
              {% if post.summary %}
                  {{ post.summary | markdownify }}
              {% else %}
                  {{ post.excerpt | strip_html }}
              {% endif %}
            <a href="{{post.url}}">Read more</a></div>
          </div>
       </div>
    {% endfor %}
  </div>
</div>

<a href="/news.html">View all past news items</a>
</div>

<div class="mainpage-fellows mainpage-core">
<h4>IRIS-HEP Fellows</h4>
The IRIS-HEP Fellows program provides funding support for selected individuals to spend several months working closely with a mentor on
an HEP software R&D topic relevant to the Institute.
<a href="/fellows.html">Find out more about opportunities with the IRIS-HEP Fellows program.</a>

{%- assign active-fellows = false -%}
{%- for mypage in site.pages -%}
    {%- if mypage.pagetype == 'fellow' and mypage.active -%}
       {%- assign active-fellows = true -%}
    {%- endif -%}
{%- endfor -%}

{%- if active-fellows %}
Current fellows include:
{% endif %}

<div class="container-fluid">
  <div class="row">
    {% assign sorted = site.pages | sort_natural: 'title' %}
    {% for mypage in sorted %}
      {% if mypage.pagetype == 'fellow' and mypage.active %}
         {% assign person = mypage %}

         <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="{{person.photo}}" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <div class="card-text">
                 <b><a href="{{person.permalink}}">{{person.fellow-name}}</a></b><br>
                 <small>{{person.institution}}</small><br><br>
              </div>
              <div class="card-text mt-auto"><i>
              {% include fellow_dates.html dates=person.dates %}
              </i><br></div>
            </div>
         </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
</div>
<a href="/fellows.html#iris-hep-former-fellows">View all former Fellows</a>
</div>

<div class="mainpage-sidebar mainpage-container">
<div class="mainpage-events mainpage-core">

{% comment %}
Go through the list and produce a list of upcoming events as well as a
list of events in the past 90 days. Treat 6 days ago as "now" so that
ongoing events don't get prematurely flagged as recent.
{% endcomment %}

<div class="mainpage-sidebar-text">
<h4>Upcoming Events:</h4>
</div>

{%- include get_all_events.html -%}

{% assign selected_events = all_events | day_range: "startdate", 6 | where_exp: "item", "item.skipfrontpage != true" | reverse %}

<ul>
  {% for event in selected_events %}
    <li>
      <a href="{{event.meetingurl}}">
        <div class="event">
          <div class="date">
            {{ event.startdate | print_date_range: event.enddate }}
          </div>
          <div class="location">
            {{event.location}}
          </div>
          <div class="name">
            {{event.name}}
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
{%- if selected_events.size == 0 %}
  <div class="empty">
    No events currently scheduled. Check back again soon!
  </div>
{%- endif %}

<div class="mainpage-sidebar-links">
<a href="/events.html">View all past events</a>
</div>
</div>

<div class="mainpage-topical mainpage-core">

<div class="mainpage-sidebar-text">
<h4>Upcoming Topical Meetings:</h4>
</div>
{% include get_indico_list.html %}
{% assign upcoming_topical = indico_list | day_range: "startdate", 1 %}

<ul>
{% for event in upcoming_topical %}
  <li>
    <a href="{{event.meetingurl}}">
      <div class="event">
        <div class="date">
          {{ event.startdate | print_date_range: event.enddate }}
        </div>
        <div class="location">
        </div>
        <div class="name">
          {{event.name}}
        </div>
      </div>
    </a>
  </li>
{% endfor %}
</ul>

{%- if upcoming_topical.size == 0 %}
  <div class="empty">
    No meetings currently scheduled. Check back again soon!
  </div>
{%- endif %}

<div class="mainpage-sidebar-links">
<a href="/topical.html" aria-label="View all topical meetings">View all</a>
&bull;
<a href="https://indico.cern.ch/category/10570/" aria-label="Indico page for topical meetings">Indico</a>
<a href="https://www.youtube.com/channel/UC8Dmx4MYjp6RQ9ngc58Ujmg/videos" aria-label="Recordings of past topical meetings">(recordings)</a>
</div>
</div>

<div class="mainpage-related mainpage-core">
<div class="mainpage-sidebar-text">

<h4>Related projects:</h4>
{%- assign projlist = "" | split: "," -%}
{{ " " }}
{%- for cat in site.data.collabcats -%}
  {%- for proj in site.data.collaborations[cat.id] -%}
    {%- capture projtxt -%}
      [{{ proj.name }}]({{ proj.url }})
    {%- endcapture -%}
    {%- assign projlist = projlist | push: projtxt -%}
  {%- endfor -%}
{%- endfor -%}

<ul>
<li>
<div class="event">
  <div class="projects">
    {{ projlist | join: " &bull; " | markdownify }}
  </div>
</div>
</li>
</ul>

<div class="mainpage-sidebar-links">
  <a href="/collaborations">Full list with details</a>
</div>


<div class="mainpage-sidebar-twitter">
<a id="twitter-box" class="twitter-timeline" data-width="100%" data-tweet-limit="4" href="https://twitter.com/iris_hep?ref_src=twsrc%5Etfw">Tweets by iris_hep</a>
  <script> <!-- Only changes on initial load (the following twitter script replaces twiter-box with content) -->
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.getElementById("twitter-box").setAttribute("data-theme", "dark");
    }
  </script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

</div>
</div>
</div>
</div>
