<!doctype html>

{% include layout_header_navbar.html %}

  <div id="container">
      <div class="container">
        <main role="main">

          {% if page.logowidth %}
            <img alt="{{ page.title }} logo" class="header-logo" src="/assets/{{ page.image }}" width="{{ page.logowidth }}" />
          {% else %}
            <div class="container-fluid">
              <h1 class="alt-h2 text-center mb-3 mt-lg-6">{{page.title}}</h1><br>
            </div>
          {% endif  %}

          {{ content }}

          {% include list_project_team.html team=page.team %}

          {% include list_project_presentations.html shortname=page.shortname %}

          {% include list_project_publications.html shortname=page.shortname %}

          {% include get_selected_videos.html nvideos=6 projects=page.shortname %}

          {% if selected_videos.size > 0 %}
          <h3> Recent recordings</h3>
          {% include display_videos.html videos=selected_videos %}
          {% endif %}
        </main>
      </div>
      {% include_cached footer.html %}
    </div>

  {% include_cached layout_analytics.html %}

  </body>
</html>
